form {
  padding: -1px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
  font-size: 0;
  margin-bottom: 1rem;
}
img {
  width: 150px;
  border-radius: 5px;
}
.github-profile {
  margin: 1rem;
}
.info {
  display: inline-block;
  margin-left: 12px;
}
.name {
  font-size: 1.25rem;
  font-weight: bold;
}

button {
  color: white;
  margin: 5px;
  background-color:black;
}